.cover-4{
    width: 950px;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    padding: 30px 30px;
    background: black;
    color: white;
    font-size: 17px;
}
#p-header{
    color: white !important;
    background-color: red !important;
    border: 3px solid red;
}
input[type="checkbox"]{
    visibility: hidden;
}
.passport{
    visibility: visible !important;
    width: 90px;
    height: 90px;
}
.btn{
    display:  none;
    visibility: hidden;
}

.side-nav{
    display: none;
    width:0px;
    visibility: hidden;
}
.lLeft{
    display: block;
    position: relative;
    left: 0px;
    width: 30%;
}
.mapper{
    display: none
}
.lRight{
    display: block;
    position: relative;
    right: -700px;
    width: 30%;
}
.lCenter{
    display: block;
    position: relative;
    text-align: center;
}
.btn{
    visibility: none;
}